.landenlijst{
    padding-left: 2em;
    list-style: circle;
}

h2{
    padding: 1.5em;
    font-family: gilroybold;

}

p{ 
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
}

@font-face {
    font-family: gilroybold;
    src: url(fonts/Gilroy-Bold.ttf);
}