h2,h3{
    padding: 1.5em;
    font-family: gilroybold;
}

p{
    padding-left: 1.5em;
    padding-bottom: 1em ;
    padding-right: 15em;
    margin: 0;
}

ol{
    padding-left: 1.5em;
    padding-bottom: 1em;
}

h3{
    font-weight: bold;
}

.rio{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.5em;
    padding-right: 1.5em;
}

@font-face {
    font-family: gilroybold;
    src: url(fonts/Gilroy-Bold.ttf);
}