body{
    background-color: #ffffff;
    font-family: galey;
}



 h1{
    display: flex;
    justify-content: center;
    padding: 5em 0 4em 0;
    text-shadow: 3px 3px 6px  black;
    color: #ffffff;
    font-family: galey;
} 

.marseille{
    background-image: url(../images/kroatiemeer1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 95%;
    width: 100vw;
    height: 50vh;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}


nav{
    background: transparent;
    width: 100%;
    font-family: gilroybold;

}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: larger;
    flex-direction: row;
    list-style: none;

}


nav ul li a {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px black;
    transition: transform 0.2s;
    display: inline-block;
}


nav ul li a:hover {
    transform: scale(1.3); 
    color: #F7C548;
}

nav ul li a:active {
    background-color: #F7C548;
    border-radius: 8px;

}

h2{
    display: flex;
    justify-content: center;
    padding: 1.5em;
    font-family: gilroybold;
    text-align: center;
}

h3{
    display: flex;
    justify-content: center;
    font-family: gilroybold;
    padding: 3em 0 0 0;
    text-align: center;

}

p{ 
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 0.5em;
}

.voorpagina{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    
}

.landenpage{
    background-image: url(../images/zwitserland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100vw;
    height: 50vh;
}

.voetbalstadion{
        background-image: url(../images/voetbalstadion1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 75%;
        width: 100vw;
        height: 50vh;
    
}

.top3loc{
    background-image: url(../images/riomaggiore3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    width: 100vw;
    height: 50vh;
}

.landenlijst{
    padding-left: 2em;
    list-style: circle;
}

.lijstje1{
    padding-left: 2em;
    list-style: circle;
}

.madrid{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}


ol{
    padding-left: 2em;
    padding-bottom: 1em;
}

/* .psg_{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto 2em auto;
    max-width: 100%;
    border-radius: 8px;
} */

.riomaggiore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto 2em auto;
    max-width: 100%;
    border-radius: 8px;
    
}

.alpes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em auto 2em auto;
    max-width: 100%;
    border-radius: 8px;
}

.sevilla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em auto 2em auto;
    max-width: 100%;
    border-radius: 8px;
}

@media (min-width: 769px) {
    .riomaggiore{
        max-width: 80%;
    }
    .alpes{
        max-width: 80%;
    }
    .sevilla{
        max-width: 80%;
    }
}




.kopjetop3{
    font-family: gilroybold;
    
}

.kopjevoetbal{
    font-family: gilroybold;
}


@font-face {
    font-family: sovana ;
    src: url(fonts/sovana-regular.ttf);
}
@font-face {
    font-family: galey;
    src: url(fonts/Prestigetype\ Studio\ -\ Galey\ Semi\ Bold.ttf);
}

@font-face {
    font-family: galey2;
    src: url(fonts/Prestigetype\ Studio\ -\ Galey\ Rounded\ Extra\ Light.ttf);
}

@font-face {
    font-family: gilroybold;
    src: url(fonts/Gilroy-Bold.ttf);
}