body{
    background-color: #eeedf7;
    font-family: galey;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 6px black;
    color: #ffffff;
    font-family: gilroybold;
    margin: 0 auto;
    animation: stuiteren 2s ease-in-out;
}

@keyframes stuiteren {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5em);
    }
}

.homevoorkant{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(../images/plitvice1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90%;
    width: 100vw;
    height: 50vh;
}

.landenvoorkant{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(../images/zwitserland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100vw;
    height: 50vh;
}

.voetbalwedstrijdenvoorkant{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(../images/voetbalstadion1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 85%;
    width: 100vw;
    height: 50vh;
    
}

.top3voorkant{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(../images/riomaggiore3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    width: 100vw;
    height: 50vh;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: center;
    background: transparent;
    width: 100%;
    font-family: gilroybold;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: 1.2em;
    flex-direction: row;
    list-style: none;
    width: 100%;
}


nav ul li a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px black;
    transition: color 0.3s;
}


nav ul li a:hover { 
    color: #F7C548;
}


nav ul li a:active {
    background-color: #F7C548;
    border-radius: 0.5em;
}

h2{
    display: flex;
    justify-content: center;
    padding: 1em;
    font-family: gilroybold;
    text-align: center;
}

h3{
    display: flex;
    justify-content: center;
    font-family: gilroybold;
    padding: 3em 0 0 0;
    text-align: center;
    font-size: 1.3em
}

h4{
    display: flex;
    justify-content: center;
    font-family: gilroybold;
    padding: 3em 0 0 0;
    text-align: center;
    font-size: 1.1em;
}

p{ 
    margin: 1em 4em 1em 4em;
    padding-bottom: 0.5em;
}

ol{
    padding-left: 2em;
    padding-bottom: 1em;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto 1em auto;
    max-width: 100%;
    border-radius: 1em;
}

@media (min-width: 1000px) {
    p{
        margin-left: 15em;
        margin-right: 15em;
    }
    .lijstje1, .landenlijst{
        margin-left: 15em;
        margin-right: 15em;
    }
    
}

strong{
    font-family: gilroybold;
}

html{
    scroll-behavior: smooth;
}

ul{
    padding-bottom: 0.4em;
    color: black;
}

ul.landenlijst li a:hover, ul.lijstje1 li a:hover{
    color: #ffb700;
    border-bottom: 0.1em solid #ffb700;
}

video{
    display: flex;
    margin: 0 auto;
    border-radius: 1em;
}

.groepsfoto{
    display: flex;
    flex-wrap: wrap;
}

article{
    margin-top: 3em;
}

footer a{
    color: rgb(65, 146, 228);
    font-family: gilroybold;
    transition: color 0.2s;
}

footer a:hover{
    color: rgb(255, 98, 0);
}

.bronnenlijst{
    color:#eeedf7;
    background-color: rgb(65, 146, 228);
}

.bronnen a:hover{
    color: rgb(255, 98, 0);
}


@font-face {
    font-family: galey;
    src: url(fonts/galeysemibold.ttf);
}

@font-face {
    font-family: gilroybold;
    src: url(fonts/gilroybold.ttf);
}